@import "../../styles/_mixins.scss";

.contact{
  background-color: rgb(2, 5, 32);
  color: #ececec;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block{
  flex: 40
}

.text{
  font-size: 40px;
  line-height: 130%;
  a:hover{
    color: rgb(253, 198, 198);
  }
  flex: 60;

  @include mobile {
    font-size: 32px;
  }
}

.footer{
  align-self: flex-end;
  flex: 1;
  margin: 10px 10px;
}
